body {
  background-color: #333;
  color: #D3D3D3;
}
.dr > td {
  color: #000;
  text-align: center;
  padding: 0px;
  width: 40px;
}
span {
  color: #D3D3D3;
}



td.rotate {
  height: 140px;
  white-space: nowrap;
}

td.rotate > div {
  transform: 
    translate(25px, 51px)
    rotate(315deg);
  width: 30px;
}
td.rotate > div > span {
  vertical-align: middle;
  display: inline-block;
  width: 150px;
  border-bottom: 1px solid #555;
  padding: 5px 10px;
}